body{
    background: rgba(231, 231, 231, 0.699);
    font-family: 'KoHo', sans-serif;
}
.navbar{
    background:#778beb;
    font-family: 'KoHo', sans-serif;
    letter-spacing:1px; 
}
.navbar-nav{
    margin-right:10px;
}
.navbar-brand{
    margin-left: 50px;
}
#sun{
    font-size: 50px;
    color: white;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255);
    border-color: rgba(255, 255, 255);
}
.nav-link {
    color: #fff!important;  
}
.nav-item a:hover{
    color: rgb(0, 0, 0) !important;
}

#banner-head h1::after{
    background: #000;
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    border-radius: 10px;
    margin: 40px auto;
}
.btn{
    border-radius: 40px;
    margin: 25px 5px 80px 5px;
}
.section-head h2::after{
    background: #000;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    border-radius: 20px;
    margin: 5px 0px;    
}
.card{
    background: rgba(242, 212, 245, 0.87);
    border:none;
    border-radius: 25px;
}
.section-card{
    margin-bottom: 30px;
}
.badge{
    background:rgb(255, 255, 255);
    color: blueviolet;
    padding: 10px 7px;
    margin-left: 150px;
}
.money{
    color: rgb(107, 6, 201);
}